<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
    <test name="Verify user is in home page">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.VerifyHomePage"/>
        </classes>
    </test>
    <test name="Verify user computer page">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.VerifyComputerPage"/>
        </classes>
    </test>
    <test name="Verify user book page">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.VerifyBookPage"/>
        </classes>
    </test>

<test name="Verify user electronic page">
<parameter name="browserName" value="chrome"></parameter>
<classes>
    <class name="test.VerifyElectronicPage"/>
</classes>
</test>

<test name="Verify user electronic page">
<parameter name="browserName" value="chrome"></parameter>
<classes>
    <class name="test.VerifyApparelPage"/>
</classes>
</test>


    <test name="Verify user gift card page">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.VerifyGiftCard"/>
        </classes>
    </test>

</suite>